@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitch {
  0% { text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.8), -2px -2px 0px rgba(0, 255, 0, 0.8); }
  25% { text-shadow: -2px -2px 0px rgba(255, 0, 0, 0.8), 2px 2px 0px rgba(0, 255, 0, 0.8); }
  50% { text-shadow: 2px -2px 0px rgba(255, 0, 0, 0.8), -2px 2px 0px rgba(0, 255, 0, 0.8); }
  75% { text-shadow: -2px 2px 0px rgba(255, 0, 0, 0.8), 2px -2px 0px rgba(0, 255, 0, 0.8); }
  100% { text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.8), -2px -2px 0px rgba(0, 255, 0, 0.8); }
}

.glitch {
  position: relative;
  animation: glitch 0.1s infinite;
}




:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Orbitron', sans-serif;
}

html {
  scroll-behavior: smooth;
}
